{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=buildxpdb;Username=buildxp;Password=buildxp123"
  },
  "Admin": {
    "Usuario": "admin",
    "Senha": "admin123",
    "Email": "admin@localhost"
  }
}
